@mixin scrollbar ($background-color:$grey, $width:8px, $height:8px) {
    /* width */
    &::-webkit-scrollbar {
        width: $width;
        height: $height;
       
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
       box-shadow: inset 0 0 3px grey; 
       border-radius: 6px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $background-color; 
        border-radius: 6px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
       // background: red;
        cursor: pointer; 
    }

}