@import './theme/theme';
@import './components/components';

* {
  box-sizing: border-box;
  font-family: $mainFont;
}

body, html {
  font-family: $mainFont;
  color: $textColor;
  font-size: $text-s;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  &::-webkit-scrollbar {
    width: 18px;
    background: $lightestBackground;
  }
  
  &::-webkit-scrollbar-track {
    width: 18px;
    background: linear-gradient(to top, $lightestBackground calc(100% - 60px), $accent 60px);
  }
  
  &::-webkit-scrollbar-thumb {
    width: 18px;
    border-radius: 12px;
    background-clip: content-box;
    background-color: $borderColor;
    border: 6px solid transparent;
  }
}