@import './theme/theme';
@import './components/components';

* {
  box-sizing: border-box;
}

body, html {
  font-family: $mainFont;
  color: $textColor;
  font-size: $text-s;
  margin: 0;
  padding: 0;
  font-weight: 300;
}