$colors: (
   primary: (
      50  :#ffe8e5,
      100 :#ffc4bd,
      200 :#f1b9b2,
      900 :#ed6a5a,
   ),
   secondary: (
      50  :#ffffff,
      100 :#fafafa,
      200 :#cccccc,
      900 :#565656
   )
);