:root {
  --color-primary-900: #ed6a5a;
  --color-primary-500: #f1b9b2;
  --color-primary-300: #ffc4bd;
  --color-primary-100: #ffe8e5;
  --color-gray-100: #fafafa;
  --color-gray-300: #ccc;
  --color-gray-900: #565656;
  --color-yellow: #fddc0b;
  --color-white: #fff;
  --color-black: #000;
}

$accent: var(--color-primary-900);
$lightBackground: var(--color-gray-100);
$accentLight: var(--color-primary-300);
$accentLightest: var(--color-primary-100);
$borderColor: var(--color-gray-300);
$textColor: var(--color-gray-900);
$textLight: var(--color-white);
$accentVariant: var(--color-yellow);
$lightestBackground: var(--color-white);
$tooltipDark: var(--color-black);
$tooltipLight: var(--color-white);