.meteors {
  padding-top: 60px;
  display: flex;
}

.item-details {
  background: $lightBackground;
  width: 380px;
  margin-left: -380px;
  transition: all .5s ease;

  &.--open {
    margin-left: 0;

    & + .table {
      width: calc(100% - 380px);
    }
  }
}

.table {
  padding: 20px;
  position: relative;
  flex-shrink: 2;
  flex-grow: 0;
  width: 100%;
  transition: all .5s ease;
  
  &__title {
    font-size: $text-l;
    font-weight: 300;
    margin: 0 0 10px;
  }
}