$sidebar-width: 382px;

.main-layout {
	display: flex;
	flex-direction: column;
}

.main-layout__main {
	display: flex;
	overflow: hidden;
}

.main-layout__sidebar {
	flex-shrink: 0;
	flex-basis: $sidebar-width;
	background: $gray-100;
	border: 1px solid $gray-300;
	transition: margin 300ms;

	.has-sidebar-collapsed & {
		margin-left: -$sidebar-width;
	}
}

.main-layout__content {
	flex-grow: 1;
	overflow: auto;
}